@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'sukhumvit_setbold';
    src: url('sukhumvitset-bold-webfont.woff2') format('woff2'),
         url('sukhumvitset-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baloo_tammaregular';
    src: url('balootamma-regular-webfont.woff2') format('woff2'),
         url('balootamma-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  
  margin: 0 auto;
  height: 820px;
  font-family: 'sukhumvit_setbold';
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

    font-size: 30px;

}

.continer{
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
  margin: 0 auto;
  height: 820px;
}

.login-form {
  padding: 20px;
  width: 25%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  -webkit-animation: top 700ms ease-out;
  

}
.title-header h3{
  font-size: 30px;
  margin-top: 10px;
}
.page-header {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 30px;

}

.result{
      margin-top: -30px;
    text-align: center;
    color: #495aff;
}



input {
    width: 100%;
    height: 40px;
    font-family: 'sukhumvit_setbold';
    font-weight: 300;
    font-size: 17px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    margin-bottom: 20px;
    /* background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06)); */
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    /* background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06)); */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

input:focus {
  /*box-shadow: 2px 2px 2px #ccc;*/
  border-left: 2px solid #ccc;
  outline: none;
}

/**
===input buttons==
**/

input[type="submit"] {
      background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    color: white;
  height: 50px;
}

.box_button{
  width: 100%;
  height: 50px;
 /* background-color: #000;*/
}
.button {
  
      height: 50px;
    float: left;
    width: 100%;
    
}
.button2 {
  
      height: 50px;
    float: right;
    
}
.box_button > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
    display: inline-block;
    /* position: relative; */
    overflow: hidden;
    height: 40px;
    width: 100%;
    /* background: #f2f2f2; */
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    /* background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06)); */
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    /* background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06)); */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;

    border: 1px solid #f7f7f7;
  border-top-style: solid;
  border-bottom: none;

  
}

.dropdown-select {
    width: 100%;
    height: 40px;
    border: 0px;
    font-family: 'sukhumvit_setbold';
    font-weight: 300;
    font-size: 15px;
    padding-left: 10px;
    transition: 250ms ease-in;
    background-color: rgba(255,255,255,0.20);
    color: #aaaaaa;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  height: 40px;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}


.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}







/**
//Login-form responsive
**/

@media (max-width: 1366px) {
  
}

@media (max-width: 1024px) {
  .login-form {
    width: 80%;
  }
}

/*//////// Keyframes ////////////*/


@-webkit-keyframes top {
  0% {
    margin-top: -50%;
  }
  100% {
}
}
